Data/Events_BlogSOSCHUVA/
Data/HAILPADS/
Data/LIGHTNING/
Data/SOUNDINGS/
Data/RADAR/
Data/SATELLITE/
Data/REANALYSIS/

\.RData
.Rproj.user
.Rhistory

Radar_Processing/\.ipynb_checkpoints/
Radar_Processing/figures/

Satellite_Processing/\.ipynb_checkpoints/
Satellite_Processing/figures/

Sounding_Processing/\.ipynb_checkpoints/

MultiDoppler_Processing/\.ipynb_checkpoints/

Reanalysis_Processing/figures/

Satellite_Processing/read_process_goes16\.nbconvert\.ipynb

General_Processing/figures/dbz_lightning/

Dissertation/

Radar_Processing/__pycache__/
.vscode/settings.json
