Data/Events_BlogSOSCHUVA/
Data/HAILPADS/
Data/LIGHTNING/
Data/SOUNDINGS/
Data/RADAR/
Data/SATELLITE/
.Rproj.user
.Rhistory

Radar_Processing/\.ipynb_checkpoints/

Satellite_Processing/\.ipynb_checkpoints/

Sounding_Processing/\.ipynb_checkpoints/

\.RData

Data/REANALYSIS/

MultiDoppler_Processing/\.ipynb_checkpoints/
