.RData
.Rhistory
.Rproj.user/
.vscode/
.idea/

Data/

Dissertation/

ForTraCC_Processing/clusters/
ForTraCC_Processing/figures/
ForTraCC_Processing/families/

General_Processing/figures/

Hailpads_Processing/figures/

Lightning_Processing/figures/
Lightning_Processing/figures_old/
Lightning_Processing/entrydata_old/

MultiDoppler_Processing/.ipynb_checkpoints/
MultiDoppler_Processing/__pycache__/
MultiDoppler_Processing/cases/
MultiDoppler_Processing/converted_files/
MultiDoppler_Processing/figures/
MultiDoppler_Processing/grids/
MultiDoppler_Processing/multidop_out/

Radar_Processing/.ipynb_checkpoints/
Radar_Processing/__pycache__/
Radar_Processing/cappis_for_fortracc/
Radar_Processing/figures/
Radar_Processing/data_files/

Reanalysis_Processing/__pycache__/
Reanalysis_Processing/.ipynb_checkpoints/
Reanalysis_Processing/figures/

Satellite_Processing/.ipynb_checkpoints/
Satellite_Processing/__pycache__/
Satellite_Processing/figures/

Sounding_Processing/.ipynb_checkpoints/
Sounding_Processing/__pycache__/
Sounding_Processing/figures/
